
name: Build and test of Reactive Java Project

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest
    
        steps:
        - uses: actions/checkout@v3
        - name: Instalar Java 11
          uses: actions/setup-java@v3
          with:
            distribution: 'adopt'
            java-version: 11
        - name: Maven Package
          run: mvn clean install
        - name: Login to Docker Hub
          uses: docker/login-action@v2
          with:
            username: ${{secrets.DOCKERHUB_USERNAME}}
            password: ${{secrets.DOCKERHUB_TOKEN}}
        - name: Build and push
          uses: docker/build-push-action@v4
          with:
            push: true
            tags: vmedinam24/bankproducts:latest
