
name: Build and test of Reactive Java Project

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build-and-push:
        runs-on: ubuntu-latest
    
        steps:
        - uses: actions/checkout@v3
        - name: Instalar Java 11
          uses: actions/setup-java@v3
          with:
            distribution: 'adopt'
            java-version: 11
        - name: Maven Package
          run: mvn -B package --file pom.xml
        - name: Publish to Docker Hub
          uses: docker/build-push-action@v1
          with:
            username: ${{secrets.DOCKERHUB_USERNAME}}
            password: ${{secrets.DOCKERHUB_USERNAME}}
            repository: dockerHubUser/dockerHubRepository
            tags: ${{github.run_number}}
